html {
  font-size: 14px;
}

.control-label {
    font-size: 12px;
}

.form-control {
    font-size: 14px;
    height: 33px;
    width: 50%;
}


    .form-control.employeedata{
        width: 100%;
    }

    .form-control.employeedata.dates {
        width: 100%;
    }

.btn-default.active {
    background: #6c757d;
    color: #fff;
}

form.editable input {
    color: #008080;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-dialog {
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.form-select {
    font-size: 14px;
    height: 33px;
    width: 50%;
}

.accordion-button {
    height: 40px;
}


.red-text {
    color: red;
}

.column1 {
    width: 100%;
    transition: width 0.3s ease-in-out;
}
.column2 {
    width: 0%;
    transition: width 0.3s ease-in-out;
}

.column1.mod {
    width: 30%;
    transition: width 0.3s ease-in-out;
}

.column2.mod {
    width: 70%;
    transition: width 0.3s ease-in-out;
}

.panel {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

    .panel.active {
        opacity: 1;
        max-height: 500px; /* Встановіть відповідну максимальну висоту */
    }
