html {
  font-size: 14px;
}

.control-label {
    font-size: 12px;
}

.form-control {
    font-size: 14px;
    height:33px;
}

.btn-default.active {
    background: #6c757d;
    color: #fff;
}

form.editable input {
    color: #008080;
}

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-dialog {
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.accordion-button {
    height: 45px;
}


.red-text {
    color: red;
}

.btn-light:hover {
    background-color: #ededed;
}

#day-table .highlighted-row:hover {
    background-color: #ededed;
}

#day-table .table-bordered tbody tr:hover {
    background-color: #ededed;
}


#week-table tbody tr:hover {
    background-color: #ededed;
}


#month-table {
    width: 100%;
    border-collapse: collapse;
}

    #month-table th, #month-table td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

/*    #month-table th {
        background-color: #f2f2f2;
    }*/

    #month-table td:hover {
        background-color: #ededed;
    }

#weeknew-table {
    width: 100%;
    border-collapse: collapse;
}

    #weeknew-table th, #month-table td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    #weeknew-table th {
        background-color: #f2f2f2;
    }

    #weeknew-table td:hover {
        background-color: #ededed;
    }