@{
    ViewData["Title"] = "Управління замовниками";
    Layout = "_LayoutDeveloper";
}
<div class="text-center">
    <h2 class="display-4 textcolor">Управління замовниками</h2>
</div>

<partial name="~/Views/Common/Customers.cshtml" />