@{
    ViewData["Title"] = "Сповіщення";
    Layout = "_LayoutDeveloper";
}
<div class="text-center">
    <h2 class="display-4 textcolor">Сповіщення</h2>
</div>


@* <partial name="~/Views/Common/IndexInfo.cshtml" /> *@