@{
    ViewData["Title"] = "Звіт";
    Layout = "_LayoutDeveloper";
}
<div class="text-center">
    <h2 class="display-4 textcolor">Звіт</h2>
</div>

@model string[];

<head>
    <title>Звіт</title>
</head>
<div>
    <p hidden id="idCu">@Model[0]</p>
    <p hidden id="idCo">@Model[1]</p>
    <p hidden id="idEm">@Model[2]</p>
    <p hidden id="rol">@Model[3]</p>
</div>

<partial name="~/Views/Common/Report.cshtml" />