@{
    Layout = "_EUDeveloper";
}
<div class="text-center">
    <h2 class="display-4 textcolor">Управління етапами проектів</h2>
</div>

@model string[];

<div>
    <p hidden id="idCu">@Model[0]</p>
    <p hidden id="idCo">@Model[1]</p>
    <p hidden id="idEm">@Model[2]</p>
    <p hidden id="rol">@Model[3]</p>
</div>
<partial name="~/Views/Common/ProjectsSteps.cshtml" />
