<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>




<div class="container" id="IndexInfo">

    <div class="text-center" v-if="birthdays.length > 0">
        <h1 class="display-4 textcolor" v-if="birthdays.length > 1">Іменинники дня:</h1>
        <h1 class="display-4 textcolor" v-if="birthdays.length == 1">Іменинник дня:</h1>
        
        <div v-for="user in birthdays" :key="user.id">
            <p class="textcolor">{{ user.firstName }} {{ user.secondName }} {{ user.thirdName }}  {{ user.emailWork }}  {{ user.phoneWork }}</p>
            @* <p class="textcolor">Email: {{ user.emailWork }}</p>
            <p class="textcolor">Phone: {{ user.phoneWork }}</p> *@
            <hr />
        </div>
    </div>


    <div class="text-center">
        <h1 class="display-4 textcolor">Останні новини:</h1>
        @* <div v-for="new in news" :key="new.id">
            <p class="textcolor">{{ new.header }}</p>
            <p class="textcolor">{{ new.url }}</p>
            
            <hr />
        </div> *@
    </div>

</div>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/IndexInfo.js" asp-append-version="true"></script>