<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<div class="container" id="IndexInfo">

    <div class="row">
        <div class="col-6">
            <div class="text-center">
                <h1 class="display-4 textcolor">Останні новини:</h1>
                <select class="form-select data" aria-label="Default select example"
                        v-on:change="getSelectedCategory($event)"
                        v-model="selectedCategory">
                    <option v-for="category in categories" :value="category.name">
                        {{ category.name }}
                    </option>
                </select>
               
                <div>
                    <ul class="list-group">
                        <li v-for="link in category.news" :key="link.id" class="list-group-item" style="background-color: transparent;">
                      <a href="#" v-on:click="openNewWindow(link.url)" class="link-primary" style="color: #FFFF" target="_blank">{{ link.name }}</a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center" v-if="birthdays.length > 0">
                <h1 class="display-4 textcolor" v-if="birthdays.length > 1">Іменинники дня:</h1>
                <h1 class="display-4 textcolor" v-if="birthdays.length == 1">Іменинник дня:</h1>

                <div v-for="user in birthdays" :key="user.id">
                    <p class="textcolor">{{ user.firstName }} {{ user.secondName }} {{ user.thirdName }}</p>
                    <p class="textcolor">Email: {{ user.emailWork }}</p>
                    <p class="textcolor">Phone: {{ user.phoneWork }}</p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/IndexInfo.js" asp-append-version="true"></script>