@using ReportingSystem.Properties;

<head>
    <title>123</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<link rel="stylesheet" href="~/css/InfoCustomer.css" asp-append-version="true" />

<div mt-3 class="text-center">
    <h2 class="display-4">Особистий кабінет замовника</h2>
</div>

<div class="container" id="InfoCustomer">
    @*---------------------------------------------------------------------------------------------------------------------*@
    @* Модальне вікно*@
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
                </div>
                <div class="modal-body">

                    <p :class="{ 'red-text': modalEmployeeActive }">{{ modalOperation }}</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="Init()">Закрити</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-if="modalType == 2" v-on:click="editCustomer()">Підтвердити</button>
                </div>
            </div>
        </div>
    </div>
    @*---------------------------------------------------------------------------------------------------------------------*@

    <div class="panel panel-default" v-if="personalInfo.id">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form v-bind:class="{editable: mode == 'edit'}">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Ім'я</label>
                            <input type="text" class="form-control" v-bind:disabled="mode != 'edit'" v-model="personalInfo.firstName" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Прізвище</label>
                            <input type="text" class="form-control" v-bind:disabled="mode != 'edit'" v-model="personalInfo.secondName" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">По-батькові</label>
                            <input type="text" class="form-control" v-bind:disabled="mode != 'edit'" v-model="personalInfo.thirdName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Телефон</label>
                            <input type="text" class="form-control" v-bind:disabled="true" v-model="personalInfo.phone" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control" v-bind:disabled="true" v-model="personalInfo.email" />
                        </div>
                    </div>
                </div>

                <div v-if="mode == 'standart'" class="form-group">
                    <label class="control-label">Пароль</label>
                    <input type="text" class="form-control" v-bind:disabled="mode=='standart'" v-model="personalInfo.password" />
                </div>
                <div v-else>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Пароль</label>
                                <input type="text" class="form-control" v-bind:disabled="mode=='standart'" v-model="personalInfo.password" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group bm-3">
                                <label class="control-label">Пароль</label>
                                <button type="button" class="btn btn-secondary" v-on:click="GeneratePassword()">Новий</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Ліцензія діє до</label>
                            <input type="date" class="form-control" v-bind:disabled="true" v-model="personalInfo.endTimeLicense" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Дата реєстрації</label>
                            <input type="date" class="form-control" v-bind:disabled="true" v-model="personalInfo.dateRegistration" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button class="btn btn-default mt-3"
                                v-if="mode=='standart'"
                                v-bind:class="{active: mode == 'standart'}"
                                v-on:click="ToogleMode('edit')">
                            Редагувати
                        </button>
                        <button class="btn btn-default mt-3"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                v-if="mode=='edit'"
                                v-bind:class="{active: mode == 'edit'}"
                                v-on:click="ToogleMode('standart')">
                            Підтвердити
                        </button>

                        <button class="btn btn-danger mt-3"
                                v-if="mode=='edit'"
                                v-bind:class="{active: mode == 'edit'}"
                                v-on:click="mode='standart'">
                            Відмінити
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div style="margin-top: 50px; margin-bottom: 50px;">
            <div class="text-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/InfoCustomer.js" asp-append-version="true"></script>
