@using ReportingSystem.Properties;

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<link rel="stylesheet" href="~/css/Report.css" asp-append-version="true" />
@*---------------------------------------------------------------------------------------------------------------------*@

<div class="container " id="Report" v-cloak>
    <div class="accordion textcolor" id="accordionExample" v-if="rolls.length != 1">

        @* Модальне вікно *@
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Робота зі звітами</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="dateTimeInput1" class="form-label">Виберіть дату та час початку події:</label>
                            <input type="datetime-local" class="form-control" id="dateTimeInput1" :value="formatDate(dateTimeInput1)" v-on:input="updateDateTimeInput1">

                            <div class="mb-3">
                                <label for="hoursDropdown" class="form-label">Виберіть кількість годин:</label>
                                <select id="hoursDropdown" class="form-select" v-model="selectedHours" v-on:change="UsePeriod1()">
                                    <option value="10">До кінця дня</option>
                                    <option value="1">1 година</option> 
                                    <option value="2">2 години</option>
                                    <option value="3">3 години</option>
                                    <option value="4">4 годин</option>
                                    <option value="5">5 годин</option>
                                    <option value="6">6 годин</option>
                                    <option value="7">7 годин</option>
                                    <option value="8">8 годин</option>
                                    
                                </select>
                            </div>

                            <label for="dateTimeInput2" class="form-label">Виберіть дату та час кінця події:</label>
                            <input type="datetime-local" class="form-control" id="dateTimeInput2" :value="formatDate(dateTimeInput2)" v-on:input="updateDateTimeInput2" :readonly="true">                            
                            
                            <label for="categorySelect" class="form-label">Виберіть категорію проекту:</label>
                            <select v-model="selectedCategory" id="categorySelect" class="form-select" v-on:change="setCat0()">
                                <option value="">Оберіть категорію</option>
                                <option v-for="category in categories" :key="category.id" :value="category.id">
                                    {{ category.name }}
                                </option>
                            </select>

                            <div v-if="categories1 != null && categories1 != ''">
                                <label for="categorySelect1" class="form-label">Виберіть підкатегорію 1 проекту:</label>
                                <select v-model="selectedCategory1" id="categorySelect1" class="form-select" v-on:change="setCat1()">
                                    <option value="">Оберіть підкатегорію</option>
                                    <option v-for="category in categories1" :key="category.id" :value="category.id">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>

                            <div v-if="categories2 != null && categories2 != ''">
                                <label for="categorySelect2" class="form-label">Виберіть підкатегорію 2 проекту:</label>
                                <select v-model="selectedCategory2" id="categorySelect2" class="form-select" v-on:change="setCat2()">
                                    <option value="">Оберіть підкатегорію</option>
                                    <option v-for="category in categories2" :key="category.id" :value="category.id">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>

                            <div v-if="categories3 != null && categories3 != ''">
                                <label for="categorySelect3" class="form-label">Виберіть підкатегорію 3 проекту:</label>
                                <select v-model="selectedCategory3" id="categorySelect3" class="form-select" v-on:change="setCat3()">
                                    <option value="">Оберіть підкатегорію</option>
                                    <option v-for="category in categories3" :key="category.id" :value="category.id">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>

                            <div v-if="projects != null && projects != ''">
                                <label for="projectSelect" class="form-label">Виберіть проект:</label>
                                <select v-model="selectedProject" id="projectSelect" class="form-select" v-on:change="setProject($event)">
                                    <option value="">Оберіть проект</option>
                                    <option v-for="project in projects" :key="project.id" :value="project.id">
                                        {{ project.name }}
                                    </option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="commentTextarea" class="form-label">Введіть коментар:</label>
                                <textarea class="form-control" id="commentTextarea" rows="4" v-model="comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" v-on:click="DeleteReport()">Видалити</button>
                        <button type="button" class="btn btn-danger" v-on:click="DeleteDayReport()">День</button>
                        <button type="button" class="btn btn-danger" v-on:click="DeleteWeekReport()" v-if="!isWeekDay">Тиждень</button>
                        <button type="button" class="btn btn-primary" v-on:click="SendReport()">Зберегти</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                    </div>
                </div>
            </div>
        </div>
        @*---------------------------------------------------------------------------------------------------------------------*@
  
        <div style="display: flex; align-items: center;" v-if="rol === 'Developer' || rol === 'DevAdministrator'">
            <select class="form-select mb-3" aria-label="Default select example" v-on:change="getSelectedCustomer($event)" v-model="selectedCustomerId">
                <option v-for="customer in customers" :value="customer.id">{{ customer.firstName }} {{ customer.secondName }} {{ customer.thirdName }} {{ customer.email }}</option>
            </select>
        </div>

        <div style="display: flex; align-items: center;" v-if="rol === 'Developer' || rol === 'DevAdministrator' || rol === 'Customer'">
            <select class="form-select mb-3" aria-label="Default select example 1" v-on:change="getSelectedCompany($event)" v-model="selectedCompanyId">
                <option v-for="company in companies" :value="company.id">{{ company.name }}</option>
            </select>
        </div>


        <div style="display: flex; align-items: center;" v-if="rol === 'Developer' || rol === 'DevAdministrator' || rol === 'Customer'">
            <select class="form-select mb-3" aria-label="Default select example 1" v-on:change="getSelectedEmployee($event)" v-model="selectedEmployeeId">
                <option v-for="employee in employees" :value="employee.id">{{ employee.firstName }} {{ employee.secondName }} {{ employee.thirdName }}</option>
            </select>
        </div>

    <!-------------------------------------------------------------------------------->

        <div class="row d-flex justify-content-between align-items-center">
            <div style="text-align: center;">
                <h2 class="bold-month">{{ convDate(cursorDate) }}</h2>
            </div>
            <div class="row">
                <div class="col-4 justify-content-center">
                    <div class="row justify-content-center">
                        <div>
                            <div class="form-check form-switch" v-if="isShowDetails">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1" v-on:change="is24HourFormat = !is24HourFormat">
                                <label class="form-check-label" for="flexSwitchCheckDefault1">Формат часу 24/12</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-check form-switch" v-if="isShowDetails">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2" v-on:change="isWorkHours = !isWorkHours">
                                <label class="form-check-label" for="flexSwitchCheckDefault2">Неробочі години</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-check form-switch" v-if="isShowDetails">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4" v-on:change="isWeekDay = !isWeekDay">
                                <label class="form-check-label" for="flexSwitchCheckDefault4">День - Тиждень</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-check form-switch" v-if="!isWeekDay && isShowDetails">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3" v-on:change="isWorkDays = !isWorkDays">
                                <label class="form-check-label" for="flexSwitchCheckDefault3">Неробочі дні</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-2">
                            <button type="button" class="btn"
                                    v-bind:class="{ 'btn-light': !hovered, 'btn-grey': !hovered }"
                                    v-on:mouseover="toggleHover"
                                    v-on:mouseout="toggleHover"
                                    v-on:click="setToday()">
                                Сьогодні
                            </button>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn"
                                    v-bind:class="{ 'btn-light': !hovered, 'btn-grey': !hovered }"
                                    v-on:mouseover="toggleHover"
                                    v-on:mouseout="toggleHover"
                                    v-on:click="dateLeft()">
                                <
                            </button>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn"
                                    v-bind:class="{ 'btn-light': !hovered, 'btn-grey': !hovered }"
                                    v-on:mouseover="toggleHover"
                                    v-on:mouseout="toggleHover"
                                    v-on:click="dateRight()">
                                >
                            </button>
                        </div>
                        <div class="col-8">
                            <input type="date" class="form-control" :value="getLocalDate(cursorDate)" v-on:input="updateCursorDate($event)" />


                            @* <input type="date" class="form-control" v-model="cursorDate" /> *@
                        </div>
                    </div>
                    <div class="row">
                        <table id="month-table" class="table table-bordered textcolor">
                            <thead>
                                <tr>
                                    <th>Пн</th>
                                    <th>Вт</th>
                                    <th>Ср</th>
                                    <th>Чт</th>
                                    <th>Пт</th>
                                    <th>Сб</th>
                                    <th>Нд</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(week, indexWeek) in weeks" :key="indexWeek">
                                    <td v-for="(day, indexDay) in week"
                                        :key="indexDay"
                                        v-on:click="handleCellClick(day)"
                                        :style="{'background-color': isCurrentDay(day) ? '#008080' : (isSelectedDay(day) ? 'green' : ''),} ">
                                        {{ day > 0 ? day : '' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------->
        <table id="weeknew-table" class="table table-bordered" v-if="!isWeekDay && isShowDetails">
            <thead>
                <tr>
                    <th>Час</th>
                    <th>Понеділок</th>
                    <th>Вівторок</th>
                    <th>Середа</th>
                    <th>Четвер</th>
                    <th>П'ятниця</th>
                    <th v-if="!isWorkDays">Субота</th>
                    <th v-if="!isWorkDays">Неділя</th>
                </tr>
                <tr>
                    <th></th>
                    <th>{{dataDayOfWeek(1)}}</th>
                    <th>{{dataDayOfWeek(2)}}</th>
                    <th>{{dataDayOfWeek(3)}}</th>
                    <th>{{dataDayOfWeek(4)}}</th>
                    <th>{{dataDayOfWeek(5)}}</th>
                    <th v-if="!isWorkDays">{{dataDayOfWeek(6)}}</th>
                    <th v-if="!isWorkDays">{{dataDayOfWeek(7)}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="isWorkHours && hour >= worksHourStart && hour <= worksHourStart + worksHourAmount + breakHour" v-for="hour in 24" :key="hour" v-on:mouseover="highlightRow(hour)" v-on:mouseout="resetHighlight" :class="{ 'highlighted-row': isRowHighlighted && highlightedRow === hour }">
                    <td>{{ formatTime(hour, is24HourFormat) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,1)">{{ getReportProject1(hour, 1) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,2)">{{ getReportProject1(hour, 2) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,3)">{{ getReportProject1(hour, 3) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,4)">{{ getReportProject1(hour, 4) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,5)">{{ getReportProject1(hour, 5) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,6)" v-if="!isWorkDays">{{ getReportProject1(hour, 6) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,7)" v-if="!isWorkDays">{{ getReportProject1(hour, 7) }}</td>
                </tr>
                <tr v-if="!isWorkHours" v-for="hour in 24" :key="hour" v-on:mouseover="highlightRow(hour)" v-on:mouseout="resetHighlight" :class="{ 'highlighted-row': isRowHighlighted && highlightedRow === hour }">
                    <td>{{ formatTime(hour, is24HourFormat) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,1)">{{ getReportProject1(hour, 1) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,2)">{{ getReportProject1(hour, 2) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,3)">{{ getReportProject1(hour, 3) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,4)">{{ getReportProject1(hour, 4) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,5)">{{ getReportProject1(hour, 5) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,6)" v-if="!isWorkDays">{{ getReportProject1(hour, 6) }}</td>
                    <td v-on:click="handleCellWeekClick(hour,7)" v-if="!isWorkDays">{{ getReportProject1(hour, 7) }}</td>
                </tr>
            </tbody>
        </table>

        <!------------------------------------------------------------------------->

        <table id="day-table" class="table table-bordered" v-if="isWeekDay && isShowDetails">
            <thead>
                <tr>
                    <th style="width: 150px;">{{convDate(selectedDate)}}</th>
                    <th>Проект</th>
                    <th>Коментар</th>
                </tr>

            </thead>
            <tbody>
                <tr v-if="isWorkHours && hour >= worksHourStart && hour <= worksHourStart + worksHourAmount + breakHour" v-for="hour in 24" :key="hour" v-on:mouseover="highlightRow(hour)" v-on:mouseout="resetHighlight" v-on:click="handleCellDayClick(hour)" :class="{ 'highlighted-row': isRowHighlighted && highlightedRow === hour }">
                    <td>{{ formatTime(hour, is24HourFormat) }}</td>
                    <td>{{ getReportProject(hour) }} </td>
                    <td>{{ getReportComment(hour) }} </td>
                </tr>
                <tr v-if="!isWorkHours" v-for="hour in 24" :key="hour" v-on:mouseover="highlightRow(hour)" v-on:mouseout="resetHighlight" v-on:click="handleCellDayClick(hour)" :class="{ 'highlighted-row': isRowHighlighted && highlightedRow === hour }">
                    <td>{{ formatTime(hour, is24HourFormat) }}</td>
                    <td>{{ getReportProject(hour) }} </td>
                    <td>{{ getReportComment(hour) }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/Report.js" asp-append-version="true"></script>