<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<link rel="stylesheet" href="~/css/Structure.css" asp-append-version="true" />

@*---------------------------------------------------------------------------------------------------------------------*@

<div class="container textcolor" id="Structure">
    <div class="accordion" id="accordionExample" v-if="employees.length != 1">
      

        <div style="display: flex; align-items: center;" v-if="rol === 'Developer' || rol === 'DevAdministrator'">
            <select class="form-select mb-3" aria-label="Default select example" v-on:change="getSelectedCustomer($event)" v-model="selectedCustomerId">
                <option v-for="customer in customers" :value="customer.id">{{ customer.firstName }} {{ customer.secondName }} {{ customer.thirdName }} {{ customer.email }}</option>
            </select>
        </div>

        <div style="display: flex; align-items: center;" v-if="rol === 'Developer' || rol === 'DevAdministrator' || rol === 'Customer'">
            <select class="form-select mb-3" aria-label="Default select example 1" v-on:change="getSelectedCompany($event)" v-model="selectedCompanyId">
                <option v-for="company in companies" :value="company.id">{{ company.name }}</option>
            </select>
        </div>

        <div class="container">
            <div class="toolbox">
                <div v-for="(position, index) in allPositions" :key="position.namePosition + '_' + index">
                    <div class="draggable" draggable="true" :id="'item' + position.namePosition + '_' + index">
                        <!-- Посада -->
                        {{ position.namePosition }}

                        <!-- Ім'я співробітника -->
                        {{ position.employee.secondName }} {{ position.employee.firstName }} {{ position.employee.thirdName }}
                    </div>
                </div>
            </div>

            <!-- Зона перетягування (справа) -->
            <div class="dropzone" id="dropzone"></div>
        </div>


    </div>
</div>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/Structure.js" asp-append-version="true"></script>


@*<script>
    // JavaScript для перетягування елементів
    const items = document.querySelectorAll('.draggable');
    const dropzone = document.getElementById('dropzone');

    items.forEach(item => {
        item.addEventListener('dragstart', (e) => {
            e.dataTransfer.setData('text/plain', e.target.id);
        });
    });

    dropzone.addEventListener('dragover', (e) => {
        e.preventDefault();
    });

    dropzone.addEventListener('drop', (e) => {
        e.preventDefault();
        const itemId = e.dataTransfer.getData('text/plain');
        const item = document.getElementById(itemId);
        dropzone.appendChild(item);
    });
</script>*@