body {
    background-image: url('/img/back.jpg');
}

.navbar {
    background-color: #512121;
}

.footercustom {
    background-color: #512121;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}