<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/ReportingSystem.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/jpg" href="~/img/icon.jpg">
</head>

@{
    var path = Context.Request.Path;
}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand main-name" href="/" data-target="#content-container">Go to Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; ReportingSystem - <a class="navbar-brand main-name" style="color:black" href="/" data-target="#content-container">Go to Portal</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body {
        font-family: Arial, sans-serif; /* Задаємо шрифт для всієї сторінки */
        background-color: #f8f8f8; /* Задаємо колір фону сторінки */
    }
    
    .navbar-brand {
        font-weight: bold; /* Задаємо жирний стиль для тексту логотипу */
        color: #fff; /* Задаємо колір тексту логотипу */
        transition: all 0.3s ease-out;
    }

    .navbar-nav .nav-link {
        color: #fff; /* Задаємо колір тексту посилань у навігаційному меню */
        transition: all 0.3s ease-out;
    }

    .container {
        margin-top: 20px; /* Відступ зверху для контейнера */
        background-color: #fff; /* Колір фону контейнера з основним вмістом */
        padding: 20px; /* Внутрішні відступи для контейнера */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тінь для контейнера */
    }
    main {
        padding: 20px; /* Внутрішні відступи для основного вмісту */
    }
    .nav-link.active {
        text-decoration: underline;
    }
    .navbar{
        background-color: #000;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #eeff01;
        transition: all 0.3s ease-in;
    }
    .navbar-nav .nav-item .nav-link {
        color: rgb(161, 161, 161);
        transition: all 0.3s ease-out;
    }
    .navbar .navbar-brand:hover {
        color: #eeff01;
        transition: all 0.3s ease-in;
    }
</style>
