@{
    ViewData["Title"] = "Configuration";
    Layout = "_LayoutConfiguration";
}

@{
    var path = Context.Request.Path;
}



<h1 class="text-center">Сторінка налаштувань</h1>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>


<link rel="stylesheet" href="~/css/Configuration.css" asp-append-version="true" />


<div class="text-center">
    <div class="container">
        <div id="Configuration" v-if="isPageLoaded">

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Доступ</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form v-on:submit.prevent="loginUser" class="col-md-4 offset-md-4">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username:</label>
                                    <input type="text" id="username" v-model="username" class="form-control" required>
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Password:</label>
                                    <input type="password" id="password" v-model="password" class="form-control" required>
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                            <div v-if="isLoggedIn" class="col-md-4 offset-md-4">
                                <p class="alert alert-success mt-3">Save our {{ username }}!</p>
                            </div>
                            <div v-if="pagePasswordFailed">
                                <p class="alert alert-danger mt-3">Error</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="true">
                @* pagePasswordOk*@
                <div v-if="!hasDatabase">
                    <div class="row">
                        <h2 class="text-center">Налаштування підключення до БД</h2>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="button"
                                    class="btn mt-3 w-100"
                                    :class="{ 'btn-secondary': mode === 1, 'btn-light': mode !== 1 }"
                                    v-on:click="mode = 1">
                                Записані дані
                            </button>
                        </div>

                        <div class="col-6">
                            <button type="button"
                                    class="btn mt-3 w-100"
                                    :class="{ 'btn-secondary': mode === 2, 'btn-light': mode !== 2 }"
                                    v-on:click="mode = 2">
                                Нові дані
                            </button>
                        </div>

                        <div v-if="mode == 1">
                            <div style="display: flex; align-items: center;" class="mt-3">
                                <strong style="width: 150px; text-align: left;">Сервер:</strong>
                                <input type="text" class="form-control" placeholder="Сервер" v-model="serverName" aria-describedby="basic-addon1" readonly>
                            </div>
                            <div style="display: flex; align-items: center;" class="mt-3">
                                <strong style="width: 150px; text-align: left;">База даних:</strong>
                                <input type="text" class="form-control" placeholder="База даних" v-model="databaseName" aria-describedby="basic-addon1" readonly>
                            </div>
                            <div style="text-align: left;" class="mt-3">
                                <strong>Використовувати параметри для входу:</strong>
                                <input class="form-check-input" type="checkbox" v-model="isUseDatabaseCredential" id="flexCheckDefault" disabled>
                            </div>

                            <div v-if="isUseDatabaseCredential == 'True'">
                                <div style="display: flex; align-items: center;" class="mt-3">
                                    <strong style="width: 150px; text-align: left;">Логін:</strong>
                                    <input type="text" class="form-control" placeholder="Логін" v-model="databaseLogin" aria-describedby="basic-addon1" readonly>
                                </div>

                                <div style="display: flex; align-items: center;" class="mt-3">
                                    <strong style="width: 150px; text-align: left;">Пароль:</strong>
                                    <input type="text" class="form-control" placeholder="Пароль" v-model="databasePassword" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                        </div>
                        <div v-if="mode == 2">
                            <div style="display: flex; align-items: center;" class="mt-3">
                                <strong style="width: 150px; text-align: left;">Сервер:</strong>
                                <input type="text" class="form-control" placeholder="Сервер" v-model="newServerName" v-on:input="resetConnection()" aria-describedby="basic-addon1">
                            </div>
                            <div style="display: flex; align-items: center;" class="mt-3">
                                <strong style="width: 150px; text-align: left;">База даних:</strong>
                                <input type="text" class="form-control" placeholder="База даних" v-model="newDatabaseName" v-on:input="resetConnection()" aria-describedby="basic-addon1">
                            </div>
                            <div style="text-align: left;" class="mt-3">
                                <strong>Використовувати параметри для входу:</strong>
                                <input class="form-check-input" type="checkbox" v-model="newIsUseDatabaseCredential" v-on:input="resetConnection()" id="flexCheckDefault">
                            </div>

                            <div v-if="newIsUseDatabaseCredential">
                                <div style="display: flex; align-items: center;" class="mt-3">
                                    <strong style="width: 150px; text-align: left;">Логін:</strong>
                                    <input type="text" class="form-control" placeholder="Логін" v-model="newDatabaseLogin" v-on:input="resetConnection()" aria-describedby="basic-addon1">
                                </div>

                                <div style="display: flex; align-items: center;" class="mt-3">
                                    <strong style="width: 150px; text-align: left;">Пароль:</strong>
                                    <input type="text" class="form-control" placeholder="Пароль" v-model="newDatabasePassword" v-on:input="resetConnection()" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col" v-if="!isServerOk || !isDatabaseOk || !isTablesOk">
                                    <div class="row justify-content-center">
                                        <div>
                                            <p class="mt-3"><strong>Перевірити підключення до:</strong></p>
                                        </div>

                                        <div class="col-3">
                                            <button type="button" class="btn btn-outline-secondary" v-on:click="IsServerAvailable()">Сервер</button>
                                            <div>
                                                <span class="bi bi-check text-success bi-lg" v-if="isServerOk && !isServerLoad"></span>
                                                <span class="bi bi-x text-danger bi-lg" v-if="!isServerOk && !isServerLoad"></span>
                                                <div class="spinner-border spinner-border-sm text-black" v-if="isServerLoad" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-outline-secondary" v-on:click="IsDatabaseAvailable()">База Даних</button>
                                            <div>
                                                <span class="bi bi-check text-success bi-lg" v-if="isDatabaseOk && !isDatabaseLoad"></span>
                                                <span class="bi bi-x text-danger bi-lg" v-if="!isDatabaseOk && !isDatabaseLoad"></span>
                                                <div class="spinner-border spinner-border-sm text-black" v-if="isDatabaseLoad" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-outline-secondary" v-on:click="IsTablesAvailable()">Таблиці</button>
                                            <div>
                                                <span class="bi bi-check text-success bi-lg" v-if="isTablesOk && !isTablesLoad"></span>
                                                <span class="bi bi-x text-danger bi-lg" v-if="!isTablesOk && !isTablesLoad"></span>
                                                <div class="spinner-border spinner-border-sm text-black" v-if="isTablesLoad" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6" v-if="isServerOk && isDatabaseOk && isTablesOk">
                                    <div class="row justify-content-center">
                                        <div>
                                            <p class="mt-3"><strong>Перевірити підключення до:</strong></p>
                                        </div>

                                        <div class="col-3">
                                            <button type="button" class="btn btn-outline-secondary" v-on:click="IsServerAvailable()">Сервер</button>
                                            <div>
                                                <span class="bi bi-check text-success bi-lg" v-if="isServerOk && !isServerLoad"></span>
                                                <span class="bi bi-x text-danger bi-lg" v-if="!isServerOk && !isServerLoad"></span>
                                                <div class="spinner-border spinner-border-sm text-black" v-if="isServerLoad" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-outline-secondary" v-on:click="IsDatabaseAvailable()">База Даних</button>
                                            <div>
                                                <span class="bi bi-check text-success bi-lg" v-if="isDatabaseOk && !isDatabaseLoad"></span>
                                                <span class="bi bi-x text-danger bi-lg" v-if="!isDatabaseOk && !isDatabaseLoad"></span>
                                                <div class="spinner-border spinner-border-sm text-black" v-if="isDatabaseLoad" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-outline-secondary" v-on:click="IsTablesAvailable()">Таблиці</button>
                                            <div>
                                                <span class="bi bi-check text-success bi-lg" v-if="isTablesOk && !isTablesLoad"></span>
                                                <span class="bi bi-x text-danger bi-lg" v-if="!isTablesOk && !isTablesLoad"></span>
                                                <div class="spinner-border spinner-border-sm text-black" v-if="isTablesLoad" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6" v-if="isServerOk">
                                    <div class="row" v-if="!databaseCreateLoad && !databaseCreated">
                                        <div>
                                            <p class="mt-3"><strong>Згенерувати БД і таблиці:</strong></p>
                                            <button type="button" class="btn btn-outline-secondary mt-3" v-on:click="createDatabase()">База Даних</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div v-if="databaseCreateLoad">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                     role="progressbar"
                                                     v-bind:aria-valuenow="percentOperation.toString()"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     :style="{ width: percentOperation + '%' }">
                                                </div>
                                            </div>
                                            <p>{{databaseStatus}}</p>
                                            <p>{{cust}}</p>
                                            <p>Залишайте сторінку відкритою на час виконання операції, за для успішної її завершення</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div v-if="databaseCreated">
                                            <h2 class="text-center">Налаштування завершено</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
    </div>
</div>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/Configuration.js" asp-append-version="true"></script>