@{
    ViewData["Title"] = "Configuration";
    Layout = "_LayoutConfiguration";
    @* bool authorize = User.Identity?.IsAuthenticated ?? false; *@
}

@{
    var path = Context.Request.Path;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<link rel="stylesheet" href="~/css/Configuration.css" asp-append-version="true" />

<div class="text-center">
    <div class="container">


        <div id="Configuration" v-if="isPageLoaded">
            <div v-if="!hasDatabase">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">Стартова сторінка</h1>
                        <h2 class="text-center">Налаштування підключення до БД</h2>
                    </div>
                </div>

                <div v-if="status == 0">
                    <p style="text-align: center; font-weight: bold;">Поточні дані для підключення</p>
                    <p style="text-align: left;">Сервер: {{ serverName }}</p>
                    <p style="text-align: left;">База даних: {{ databaseName }}</p>

                    <p style="text-align: center; font-weight: bold;">Хочете використати наявні дані?</p>
                    <button type="button" class="btn btn-secondary" v-on:click="SetStatus(1)">Так</button>
                    <button type="button" class="btn btn-secondary" v-on:click="SetStatus(2)">Ні</button>
                </div>

                <div v-if="status == 1 || status == 2 || status == 3" class="text-center mt-4">
                    <label>Cервер:</label>
                    <input type="text" class="form-control" v-model="newServer">
                    <button type="button" class="btn btn-primary mt-2" v-on:click="IsServerAvailable()">Перевірити</button>
                    <div v-if="status == 3">
                        <label style="color: red;">Сервер недоступний або не перевірявся:</label>
                    </div>
                </div>

                <div v-if="status == 4 || status == 5" class="text-center mt-4">
                    <div>
                        <label style="color: green;">Сервер доступний:</label>
                    </div>
                    <label>База даних:</label>
                    <input type="text" class="form-control" v-model="newDatabase">
                    <button type="button" class="btn btn-primary mt-2" v-on:click="IsDatabaseAvailable()">Перевірити</button>
                    <div v-if="status == 5">
                        <label style="color: red;">База даних недоступна:</label>
                        <p style="text-align: center; font-weight: bold;">Хочете згенерувати базу даних і таблиці?</p>
                        <button type="button" class="btn btn-secondary" v-on:click="createDatabase">Так</button>
                        <button type="button" class="btn btn-secondary" v-on:click="cancelCreation">Ні</button>
                    </div>
                </div>

                <div v-if="status == 6" class="text-center mt-4">
                    <div v-if="status == 6">
                        <label style="color: green;">База даних доступна.</label>
                    </div>
                    <div>
                        <label>Таблиці:</label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary mt-2" v-on:click="IsTablesAvailable()">Перевірити</button>
                    </div>
                </div>

                <div v-if="status == 7">
                    <label style="color: red;">Таблиці недоступні</label>
                    <p style="text-align: center; font-weight: bold;">Хочете згенерувати таблиці?</p>
                    <button type="button" class="btn btn-secondary" v-on:click="createTable">Так</button>
                    <button type="button" class="btn btn-secondary" v-on:click="cancelCreation">Ні</button>
                </div>
                <div v-if="status == 8">
                    <div>
                        <label style="color: green;">Таблиці доступні. Можете переходити до системи</label>
                        <label style="color: orange;">Можете також перегенерувати БД</label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary" v-on:click="createDatabase">Так</button>
                        <button type="button" class="btn btn-secondary" v-on:click="cancelCreation">Ні</button>
                    </div>
                </div>

                <div v-if="status == 9">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             v-bind:aria-valuenow="percentOperation.toString()"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             :style="{ width: percentOperation + '%' }">
                        </div>
                    </div>

                    <p>{{databaseStatus}}</p>
                </div>

                <div v-if="status == 10">
                    <h2 class="text-center">Налаштування завершено</h2>
                </div>

            </div>
            <div v-else>
                <p>База даних існує. Перехід на сторінку авторизації</p>
                <a class="nav-link @(path == "/Home/Authorize" ? "active": "")" asp-area="" asp-controller="Home" asp-action="Authorize">Вхід</a>
            </div>

        </div>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/Configuration.js" asp-append-version="true"></script>