@{
    ViewData["Title"] = "Менеджер проектів";
    Layout = "_LayoutProjectManager";
}

<p>Стартова сторінка для менеджера проектів</p>
<p>На цій сторінці мають бути сповіщення за той час поки працівник був відсутній в системі</p>