@{
    ViewData["Title"] = "Про нас";
    Layout = "_LayoutAuthorize";
}

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
        <div style="white-space:pre-line" class="custom-about-us text-start align-text-top">
            WeCompanyBasedUkraine
    </div>
</div>