@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["AboutUs"];
}

<div class="text-center mt-5 ">
    <h2 class="display-4 textcolor">@Localizer["AboutUs"]</h2>
</div>


<style>
    .textcolor {
        color: white
    }
</style>
