@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["AboutUs"];
}

<link href="~/css/aboutus.css" rel="stylesheet" />


<div class="container textcolor">
    <section class="top lazyloaded">
        <div class="full-container ">
            <div class="top__info">
                <h1 class="display-6 mt-5">«DIGITAP» розробляє та впроваджує цифрові виробничі системи (Industry 4.0).</h1>
            </div>
        </div>
    </section>
    <section class="creation ">
        <div class="full-container">
            <div class="creation__info">
                <h2 class="display-8 mt-5">Група компаній DIGITAP є <span class="greenText">успішним об'єднанням</span> двох компаній</h2>
                <p class="big-font">
                    ТОВ ДІДЖИТАП зосереджене на постачанні передового обладнання для промислової автоматизації. Заснована на принципах інновацій та якості, компанія розвиває та постачає обладнання, спрямоване на оптимізацію виробничих процесів. Компанія спеціалізується на розробці та впровадженні комплексних рішень, забезпечуючи клієнтам ефективні і сучасні інструменти для промислової автоматизації.<br>
                    <br>
                    ТОВ ДІДЖИТАП ІННОВЕЙШН займається програмуванням систем автоматизації та надає широкий спектр послуг. Команда фахівців працює з продуктами від визнаних світових компаній, таких як GE Digital, EMERSON, AVEVO (PI OSIsoft). Компанія також спеціалізується на консультаціях та супроводі впровадження систем автоматизації, надаючи необхідну експертну підтримку та навчання.<br>
                    <br>
                    DIGITAP успішно впровадила більше 80 MES-систем. Реалізовані проекти зосереджені на розробці систем диспетчеризації та підвищенні ефективності великих, розподілених, безперервних виробництв, таких як хімічна, нафто-газова транспортування та переробка, металургія.<br>
                </p>
            </div>
        </div>
    </section>
    <section class="decisions">
        <div class="full-container">
            <div class="decisions__info">
                <div>
                    <h2 class="decisions__title"><span class="greenText">Рішення</span> DIGITAP</h2>
                </div>
                <div class="decisions__description">
                    <p class="big-font">Наша компанія ДІДЖИТАП поєднує в собі розробку програмних продуктів, які автоматизують бізнес-процеси управління виробництвом, з роллю дистриб'ютора провідних світових компаній у галузі промислової автоматизації та індустріального ІТ. Це дозволяє нам гарантувати впровадження систем на найсучасніших рішеннях як програмного, так і апаратного забезпечення. Такий підхід дозволяє нам надавати клієнтам надійні та ефективні рішення для вдосконалення їх виробничих процесів.</p>
                </div>
            </div>
        </div>
    </section>
</div>