@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["AboutUs"];
    // Layout = "_LayoutAuthorize";
}

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
        <div style="white-space:pre-line" class="custom-about-us text-center align-text-top textcolor">
            <h1>@Localizer["AboutUs"]</h1>
    </div>
</div>

<style>
  

    .textcolor {
        color: white
    }
</style>
