@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["AboutUs"];
}

<div style="white-space:pre-line" class="custom-about-us text-center align-text-top textcolor">
    <h1>@Localizer["AboutUs"]</h1>
   
</div>


<style>
  

    .textcolor {
        color: white
    }
</style>
