@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Contacts"];
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container textcolor bg-transparent">
    <div class="row mt-1 mb-1">
        <div class="col-3 col-xs-6 col-sm-5 col-md-3 col-lg-2">
            <p class="font">@Localizer["Telephone"]</p>
        </div>
    </div>
    <div class="row mt-1 mb-1">
        <div class="col-3 col-xs-6 col-sm-5 col-md-4 col-lg-3">
            <p class="font">@Localizer["Email"]</p>
        </div>
    </div>
    <div class="row mt-1 mb-1">
        <div class="col-3 col-xs-6 col-sm-5 col-md-4 col-lg-3">
            <p class="font">@Localizer["Address"]</p>
        </div>
    </div>
</div>

<div class="container" id="Weather">
    <div style="display: flex; align-items: center;">
        <select class="form-select mb-3" aria-label="Default select example" v-on:change="getSelectedCity($event)" v-model="selectedCity">
            <option v-for="city in data" :value="city.name">{{ city.name }}</option>
        </select>
    </div>
    <canvas id="myChart" height="100" ></canvas>
</div>
<script src="~/js/Weather.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" />
