@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["StartPage"];
    Layout = "_LayoutAuthorize";
}


<h1 class="text-center textcolor">@Localizer["ReportingSystem"]</h1>

@* <p class="textcolor">Cookie Value: @ViewBag.CookieValue</p> *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>



@* <link rel="stylesheet" href="~/css/ReportTest.css" asp-append-version="true" /> *@

<style>
    
    .textcolor {
        color: white
    }

</style>
