@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAuthorize";
    @* bool authorize = User.Identity?.IsAuthenticated ?? false; *@
}

@{
    var path = Context.Request.Path;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<link rel="stylesheet" href="~/css/Start.css" asp-append-version="true" />

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-start">Welcome</h1>
                @*<p class="text-start custom-input-font">@Localizer["Welcome")</p>*@
            </div>
        </div>

        <div id="Start">
            <div id="Start" v-if="isPageLoaded">
                <div v-if="!hasDatabase">
                    <p>База даних відсутня</p>
                    <p>Створити нову базу даних та згенерувати дані</p>
                    <p>База буде створена на локальному хості з іменем ReportingSystem</p>

                    <div v-if="databaseStatus != '' && databaseStatus != null">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar"
                                 v-bind:aria-valuenow="percentOperation.toString()"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 :style="{ width: percentOperation + '%' }">
                            </div>
                        </div>

                        <p>{{databaseStatus}}</p>
                    </div>
                    <div v-else>
                        <button v-on:click="createDatabase">Так</button>
                        <button v-on:click="cancelCreation">Ні</button>
                    </div>
                </div>
                <div v-else>
                    <p>База даних існує. Перехід на сторінку авторизації</p>
                    <a class="nav-link @(path == "/Home/Authorize" ? "active": "")" asp-area="" asp-controller="Home" asp-action="Authorize">Вхід</a>
                </div>
                
             </div>
        </div>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/Start.js" asp-append-version="true"></script>