@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAuthorize";
    @* bool authorize = User.Identity?.IsAuthenticated ?? false; *@
}

@{
    var path = Context.Request.Path;
}

<h1 class="text-center">Стартова сторінка</h1>